<%
companies = Company.all
%>

<h1>Companies</h1>
<ul>
    <% for company in companies %>
    <li><%= company.name %></li>
    <% end %>
</ul>

<p>Currently, there are <%= Company.all.count %> companies here.</p>